.top {
  margin-top: 100px;
}
.box {
  border: 2px solid;
  float: left;
  height: 50px;
  margin: 1%;
  width: 15%;
  background-color: lightgray;
}
p {
  font-size: 26px;
}

.sym {
  background-color: orange;
}

.display {
  border: 2px solid;
  height: 50px;
  margin: 1%;
  width: 65%;
  background-color: black;
  color: white;
}
